.vscode/**
.vscode-test/**
out/**
src/**
docs/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
pnpm-lock.yaml
.eslintignore
.eslintrc.js
.prettierrc.js
webpack.config.js
.github
.superpowers
.claude
